@page "/R_Inventarios"
@page "/R_Inventarios/{InventarioId:int}"
@inject InventariosBLL InventariosBLL
@inject UbicacionesBLL ubicacionesBLL
@inject ProductosBLL productosBLL
@inject CatalogosBLL catalogosBLL
@inject ProveedoresBLL proveedoresBLL

    @*<EditForm Model="inventario" OnValidSubmit="Guardar"></EditForm>*@

<div class="d-flex justify-content-end ">
    <div class="zoom d-flex">
      <RadzenDropDown TValue="int" class="w-100 zoom "  @ref=@radzenDropDown 
            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
            Data=@inventarios TextProperty="Concepto" ValueProperty="InventarioId" AllowClear="true" SearchTextChanged="@(args => searchTextChanged(args))"
            @bind-value="InventarioId"
                    />
        <RadzenButton Icon="search"  Style=" width: 40px;  height: 39px; font-size: 16px;" Click="Buscar" />
    </div>
</div>


<RadzenStack >  
    <RadzenCard Class="rz-my-auto rz-mx-auto bordes " style=" background-image: linear-gradient(to right, #343433 , rgb(23, 93, 125)  );"> 
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="0" Class="rz-p-0 " >
            <RadzenLabel Text="REGISTRO DE INVENTARIOS" Style=" font-size: 25px; font-weight: bold; margin-bottom: 10px; color:white;" />
        </RadzenStack>
        <RadzenCard class=" rz-shadow-0 rz-border-radius-0 rz-p-8" style="margin: 1rem calc(-1 * var(--rz-card-padding)); background-image: linear-gradient( #b4c5e499 0%, #42433fa7 );">
            <RadzenRow RowGap="7">
                <RadzenColumn SizeSM="4">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Catalogo: 
                    </RadzenText>
                    <RadzenDropDown TValue="int"  class="w-100 zoom "  @ref=@radzenDropDown 
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                        Data=@catalogos TextProperty="Nombre" ValueProperty="CatalogoId" AllowClear="true" SearchTextChanged="@(args => searchTextChanged(args))"
                        @bind-Value="@inventario.CatalogoId" 
                        
                    />
                </RadzenColumn>
                <RadzenColumn SizeSM="4">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Producto:</RadzenText>
                    <RadzenDropDown TValue="int" class="w-100 zoom "  @ref=@radzenDropDown 
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                        Data=@productos TextProperty="Nombre" ValueProperty="ProductoId" AllowClear="true" SearchTextChanged="@(args => searchTextChanged(args))"
                        @bind-Value="@inventario.ProductoId"
                    />
                </RadzenColumn>
                <RadzenColumn SizeSM="4">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Proveedor:</RadzenText>
                    <RadzenDropDown TValue="int"  class="w-100 " @ref=@radzenDropDown 
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                        Data=@proveedores TextProperty="Nombre" ValueProperty="ProveedorId" AllowClear="true" SearchTextChanged="@(args => searchTextChanged(args))"
                       @bind-Value="@inventario.ProveedorId"
                    />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow RowGap="7">
                <RadzenColumn SizeSM="4">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Concepto:</RadzenText>
                     <input class="form-control"   @bind-value="inventario.Concepto">
                    
                </RadzenColumn>

                <RadzenColumn SizeSM="4">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Cantidad:</RadzenText>
                     <InputNumber class="form-control" @bind-Value="inventario.Cantidad" />

                    
                </RadzenColumn>

                <RadzenColumn SizeSM="4">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Cantidad Minima:</RadzenText>
                     <InputNumber class="form-control" @bind-Value="inventario.CantidadMinima" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow RowGap="5">
                <RadzenColumn SizeSM="4">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Fecha Ingreso:</RadzenText>
                    <RadzenDatePicker TValue="DateTime" class="w-100 zoom "  Format="dd/MM/yyyy" @bind-Value="inventario.FechaIngreso"/>
                </RadzenColumn>
                <RadzenColumn SizeSM="4">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Ubicacion:</RadzenText>
                    <RadzenDropDown TValue="int"  class="w-100 zoom " @ref=@radzenDropDown 
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                        Data=@ubicaciones  AllowClear="true" SearchTextChanged="@(args => searchTextChanged(args))" ValueProperty="UbicacionId"
                       @bind-Value="@inventario.UbicacionId"
                    >
                     <Template>
                            @{
                                if (context != null)
                                {
                                    <div>Pasillo: @context.Pasillo, Estante: @context.Estante, Nivel: @context.Nivel</div>
                                }
                            }
                        </Template>
                    </RadzenDropDown>
                
                </RadzenColumn>
            </RadzenRow>

             <RadzenRow RowGap="5">
                <RadzenColumn SizeSM="4">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Precio:</RadzenText>
                 <input type="number"   class="form-control" @bind-value="inventario.Precio"  >

                </RadzenColumn>
                <RadzenColumn SizeSM="4">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Costo:</RadzenText>
                    <input type="number"   class="form-control" @bind-value="inventario.Costo"  >
                      
                </RadzenColumn>
            </RadzenRow>


        </RadzenCard>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="0">
            <ButtonTemplate ColorParameter="#007bff" TextParameter="NUEVO" IconParameter="add" OnClickHandler="Nuevo"  />
            <ButtonTemplate ColorParameter="#28a745" TextParameter="GUARDAR" IconParameter="save" OnClickHandler="Guardar"  />
            <ButtonTemplate ColorParameter="#dc3545" TextParameter="ELIMINAR" IconParameter="delete" OnClickHandler="Eliminar" />
        </RadzenStack>
    </RadzenCard>
</RadzenStack>


@code{
    [Parameter]
    public int InventarioId { get; set; }
    public int prueba{ get; set; } = 7;

    public Inventarios inventario { get; set; } = new Inventarios();  
    List<Productos> productos = new List<Productos>();
    List<Ubicaciones> ubicaciones = new List<Ubicaciones>();
    List<Catalogos> catalogos = new List<Catalogos>();
    List<Proveedores> proveedores = new List<Proveedores>();
    List<Inventarios> inventarios = new List<Inventarios>();
    string? searchTextStatus;
    RadzenDropDown<int>? radzenDropDown;

    protected override void OnInitialized()
    {
        productos =  productosBLL.GetList(o=> o.Eliminado==false);
        ubicaciones = ubicacionesBLL.GetList(o=> o.Eliminado==false && o.Ocupado==false);
        catalogos = catalogosBLL.GetList(o=> o.Eliminado==false);
        proveedores = proveedoresBLL.GetList(o=> o.Eliminado==false);
        inventarios = InventariosBLL.GetList(o=> o.Eliminado==false);
        if(InventarioId>0){
            Buscar();

        }
        else{
            inventario.FechaIngreso = DateTime.Now;
        }
        

    }

     void searchTextChanged(string text)
    {
        searchTextStatus = $"Search text: {text}";
        StateHasChanged();
    }

    void Guardar(){
        if(!Validar()){return;}

        if(InventariosBLL.Guardar(inventario)){
            
            Nuevo();
            inventarios = InventariosBLL.GetList(o=> o.Eliminado==false);
        }
       
    }

    void Nuevo(){
        inventario = new Inventarios();
        inventario.FechaIngreso = DateTime.Now;
        StateHasChanged();
    }

    void Eliminar(){
        if(InventariosBLL.Eliminar(inventario)){
            Nuevo();
            inventarios = InventariosBLL.GetList(o=> o.Eliminado==false);
        }
    }

    bool Validar(){
        bool esValido = true;

        if(inventario.ProductoId==0){esValido = false;}
        if(inventario.ProveedorId==0){esValido = false;}
        if(inventario.UbicacionId==0){esValido = false;}
        if(inventario.Cantidad==0){esValido = false;}
        if(inventario.CantidadMinima==0){esValido = false;}
        if(inventario.Precio==0){ esValido = false;}
        if(inventario.Costo==0){ esValido = false;}
        return esValido;
    }

    void Buscar(){
        var inventarioFound = InventariosBLL.Buscar(this.InventarioId);
        if(inventarioFound!=null){
            inventario = inventarioFound;
        }
        Console.WriteLine(inventario.ProductoId);
        Console.WriteLine(inventario.ProveedorId);
        Console.WriteLine(inventario.UbicacionId);
        
        
    }

}

